#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  margin: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: gray;
  color: white;
  width: 300px;
}

.read-the-docs {
  color: #888;
}

.button {
  padding: 0.5em 1em;
  margin: 0.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  cursor: pointer;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}